#GENERAL CONFIG
DEBUG=True
SECRET_KEY=123
TIMEZONE=America/Mexico_City

#DATABASE
DATABASE_NAME=covid_tracker
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432

#CELERY
CELERY_BROKER=redis://redis:6379/0
CELERY_BACKEND=redis://redis:6379/0

#EMAIL
EMAIL_HOST=smtp.gmail.com
EMAIL_USE_TLS=True
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

#COVERALLS
COVERALLS_REPO_TOKEN=123